
.tile {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
}

.stone {
    background-image: url('../assets/images/stonewall.png');
    background-size: contain;
    border: 2px solid #B9B799;
}

.sand {
    background-image: url('../assets/images/sandwall.png');
    background-size: contain;
    border: 2px solid orange;
}

.key {
    background-image: url('../assets/images/key.png');
    background-size: contain;
}

.door {
    background-image: url('../assets/images/door.png');
    background-size: cover;
    border: 2px solid orange;
    background-color: rgb(228, 228, 228);
}

.coin {
    background-color: yellow;
    border-radius: 50%;
    transform: scale(.25);
}

.pacman {
  background-image: url('../assets/images/pacman.png');
  background-size: contain;
}

.left {
  background-image: url('../assets/images/pacman-left.png');
}

.up {
  background-image: url('../assets/images/pacman-up.png');
}

.down {
  background-image: url('../assets/images/pacman-down.png');
}

.mummy {
  background-image: url('../assets/images/mummy.png');
  background-size: contain;
}

#score {
  color: yellow;
}

#level {
  color: green;
}

#music {
  color: whitesmoke;
}

#game-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 650px;
  margin: auto;
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
}

#game-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 670px;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
}

#body {
  margin-top: 10px;
  background-color: black;
}

#body div {
  z-index: 3;
}

#background-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 50px;
  margin-right: 50px;
}

@media only screen and (max-width: 1060px) {
  #background-images {
    display: none;
  }
}

@media only screen and (max-width: 680px) {
  #body {
    display: none;
  }
}

.title-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 65px;
  font-weight: bold;
  color: whitesmoke;
  margin-bottom: -465px;
  font-family: Arial, Helvetica, sans-serif;
}

.title-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 65px;
  font-weight: bold;
  color: yellow;
  margin-bottom: -470px;
  font-family: Arial, Helvetica, sans-serif;
}

.image1 {
  width: 200px;
  height: 200px;
  background-image: url('../assets/images/mummy.png');
  background-size: contain;
  margin-top: 50px;
}

.image2 {
  width: 186px;
  height: 210px;
  background-image: url('../assets/images/pacman-background.png');
  background-size: contain;
  margin-top: 37px;
  margin-left: 7px;
}

#game-over {
  margin-top: 115px;
  font-size: 60px;
  font-weight: bold;
  color: whitesmoke;
  height: auto;
}

.restart {
  font-size: 20px;
  font-weight: bold;
  color: red;
  margin: 10px;
}

#background-music {
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
  margin: 10px;
}

.link-git {
  height: 60px;
  width: 60px;
  align-self: center;
  margin-top: 50px;
}

.link-linkedin {
  height: 65px;
  width: 65px;
  align-self: center;
  margin-top: 50px;
}

