
.tile {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
}

.stone {
    background-image: url('../assets/images/stonewall.png');
    background-size: contain;
    border: 2px solid #B9B799;
}

.sand {
    background-image: url('../assets/images/sandwall.png');
    background-size: contain;
    border: 2px solid orange;
}

.key {
    background-image: url('../assets/images/key.png');
    background-size: contain;
}

.door {
    background-image: url('../assets/images/door.png');
    background-size: cover;
    border: 2px solid orange;
    background-color: rgb(228, 228, 228);
}

.coin {
    background-color: yellow;
    border-radius: 50%;
    transform: scale(.25);
}

.pacman {
  background-image: url('../assets/images/pacman.png');
  background-size: contain;
}

.left {
  background-image: url('../assets/images/pacman-left.png');
}

.up {
  background-image: url('../assets/images/pacman-up.png');
}

.down {
  background-image: url('../assets/images/pacman-down.png');
}

.mummy {
  background-image: url('../assets/images/mummy.png');
  background-size: contain;
}

#score {
  color: red;
}

#level {
  color: green;
}

#music {
  color: yellow;
}

#game-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 71%;
  margin: auto;
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
}

#game-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 78%;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
}

#body {
  margin-top: 10px;
}

#game-over {
  margin-top: 128px;
  font-size: 60px;
  font-weight: bold;
  color: white;
  height: auto;
}

.restart {
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
  margin: 10px;
}

#background-music {
  font-size: 20px;
  font-weight: bold;
  color: yellow;
  margin: 10px;
}
