html, body, div {
  box-sizing: border-box;
  outline: transparent;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: black;
  z-index: -1;
}

body > div {
  text-align: center;
}
